<!DOCTYPE html>
<html>
  <head>
    <title>BattleshipWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if alert %>
      <%= alert %>
    <% end  %>
    <% if notice %>
      <%= notice %>
    <% end  %>

    <%= yield %>
  </body>
</html>
